.button {
	width: 100%;
	height: 42px;
	padding-inline: 16px;
}
.togglePassword {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 50%;
	right: 16px;
	transform: translate(0, -50%);
	z-index: 3;
	color: var(--lableText);
}
.or {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-transform: uppercase;
	margin: 16px 0;
	font-size: 14px;
	width: 100%;
	.text {
		padding: 0px 16px;
	}
	&::before {
		content: "";
		display: flex;
		flex: 1;
		height: 1px;
		background-color: var(--borderColor);
	}
	&::after {
		content: "";
		display: flex;
		flex: 1;
		height: 1px;
		background-color: var(--borderColor);
	}
}
.formGroup {
	.inputGroup {
		position: relative;
		height: 42px;
		margin-bottom: 16px;
	}
	.labelGroup {
		position: absolute;
		top: 50%;
		left: 16px;
		font-size: 14px;
		transform: translate(0, -50%);
		z-index: 3;
		transition: all 100ms linear;
	}
	input {
		position: relative;
		border: 1px solid var(--borderColor);
		outline: 0;
		width: 100%;
		height: 42px;
		padding-inline: 16px;
		padding-top: 8px;
		border-radius: 6px;
		background-color: var(--inputBG);
		color: var(--primaryTextColor);
	}
	label {
		color: var(--lableText);
	}
	input:focus,
	input:focus ~ .labelGroup {
		border-color: var(--focusBorder);
	}
	input:focus ~ .labelGroup,
	.labelGroup.active {
		top: 10px;
		font-size: 10px;
	}
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
		color: var(--primaryTextColor);
	}

	/* Firefox */
	input[type="number"] {
		-moz-appearance: textfield;
		color: var(--primaryTextColor);
	}
}
.row {
	display: flex;
	gap: 16px;
}
