.qrHolder {
	position: fixed;
	top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: calc(100vh - var(--headerHeight));
	padding-top: var(--headerHeight);
	overflow: hidden;
	width: 100%;
}
.qrcode {
	display: flex;
	// margin-top: 40px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	.info {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 12px;
		width: 420px;
		text-align: center;
		color: var(--lightGray);
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
		height: 40px;
		padding-inline: 16px;
	}
	.validCode {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 14px;
		color: var(--darkGray);
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
		height: 70px;
		flex-direction: row;
		gap: 8px;
		width: 256px;
		.validInfo {
			display: flex;
			justify-content: center;
			align-items: center;

			.icon {
				display: flex;
				justify-content: center;
				align-items: center;
				color: var(--primaryColor);
				height: 42px;
				width: 42px;
				cursor: pointer;
			}
		}

		.progress {
			position: relative;
			height: 3px;
			width: 100%;
			background-color: var(--lightGray);
			.progressBar {
				position: absolute;
				height: 100%;
				background-color: var(--darkGray);
				width: 100%;
			}
		}
	}
}


.signaturePad {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	canvas {
		background-color: rgba(0, 0, 0, 0.1);
		box-shadow: inset 0px 10px 0px var(--borderColor), inset 0px -10px 0px var(--borderColor), inset 10px 0px 0px var(--borderColor),
			inset -10px 0px 0px var(--borderColor);
	}
	.signaturePad__body {
		position: relative;
	}
	.signaturePad__text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 16px;
		font-weight: 300;
	}
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	padding-inline: 16px;
	width: 100%;
	.buttonHolder {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		gap: 16px;
	}
	.btn {
		margin: 0 10px;
	}
}

.alert {
	display: flex;
	// align-items: flex-start;
	align-items: center;
	padding: 32px 16px;
	width: 100%;
	background-color: #fafafa;
	border: 1px solid var(--borderColor);
	gap: 16px;
	.alertText {
		display: flex;
		flex-direction: column;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
		gap: 8px;
		font-size: 12px;
		color: var(--lightGray);
		.alertTitle {
			font-size: 16px;
			color: var(--darkGray);
		}
	}

	.icon {
		span {
			font-size: 32px;
			color: #ffa559;
			text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
		}
	}
}

@media (min-width: 768px) {
	.buttons {
		width: 420px;
	}
}
