:root {
	--primaryColor: #00abb3;
	--secoundaryColor: #3c4048;
	--darkGray: #4d4d4d;
	--lightGray: #b2b2b2;
	--whiteGray: #eaeaea;
	--primaryTextColor: #3c4048;
	--secoundaryTextColor: #00abb3;
	--redColor: #ff6464;
	--headerHeight: 64px;
	--headerColor: #eaeaea;
	--desktopWidth: 768px;
	--borderColor: #dbdbdb;
	--white: #fff;
	--lableText: #8e8e8e;
	--inputBG: #fafafa;
	--focusBorder: #a8a8a8;
}
$primaryColor: #00abb3;
$secoundaryColor: #3c4048;
@media (prefers-color-scheme: dark) {
	:root {
	}
}

* {
	font-family: "Noto Sans", sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	background-color: var(--whiteGray);
	color: var(--primaryTextColor);
	background-color: #fff;
}

a {
	color: inherit;
	text-decoration: none;
}
hr {
	height: 1px;
	background-color: #000;
	width: 100%;
}
.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.container {
	/* display: flex; */
	padding: 16px;
	max-width: 100vw;
}
.container-x {
	padding-inline: 16px;
	max-width: 100vw;
}
.container-t {
	padding-top: 16px;
	max-width: 100vw;
}
.container-empty {
	padding: 0;
	max-width: 100vw;
}
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	border: 0;
	outline: 0;
	padding-inline: 16px;
	color: var(--primaryTextColor);
	background-color: transparent;
	font-weight: 300;
	border-radius: 0.4rem;
	box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.3);
	height: calc(32px + 2px);
	padding-bottom: 2px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
	gap: 8px;
	cursor: pointer;
	span {
		font-size: 1.1rem;
	}
}
.btn-full {
	width: 100%;
}
.btn-primary {
	background-color: var(--primaryColor);
	color: #fff;
}
.btn-primary:disabled {
	background-color: lighten($primaryColor, 5%);
	cursor: not-allowed;
}
.btn-secondary {
	background-color: var(--secoundaryColor);
	color: #fff;
}
.btn-secondary:disabled {
	background-color: lighten($secoundaryColor, 5%);
	cursor: not-allowed;
}
.btn-big {
	font-size: 14px;
	padding: 0.5rem 0;
	font-weight: 300;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
}
.btn-big.btn-primary {
	border: 2px solid darken($primaryColor, 5%);
	border-bottom-color: lighten($primaryColor, 5%);
	border-right-color: lighten($primaryColor, 5%);
	border: 0;
	border-bottom: 2px solid darken($primaryColor, 5%);
}
.btn-bit.btn-secondary {
	border: 2px solid darken($secoundaryColor, 5%);
	border-bottom-color: lighten($secoundaryColor, 5%);
	border-right-color: lighten($secoundaryColor, 5%);
	border: 0;
	border-bottom: 2px solid darken($secoundaryColor, 5%);
}
.btn-empty {
	font-size: 14px;
	background-color: transparent;
	border: 0;
	outline: 0;
	box-shadow: 0 0 0;
	text-shadow: 0 0 0;
}
.text-primary {
	color: var(--primaryTextColor);
}
.text-secondary {
	color: var(--secoundaryTextColor) !important;
}
.mb-16 {
	margin-bottom: 16px;
}
.hard-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.hidden {
	display: none;
}
.width-100 {
	width: 100%;
}
.flex-1 {
	flex: 1;
}
.pt {
	padding-top: 16px;
}
.px {
	padding-inline: 16px;
}
.py {
	padding-block: 16px;
}
.pb {
	padding-bottom: 16px;
}
input::-webkit-date-and-time-value {
	text-align: left;
	position: absolute;
	left: 16px;
	top: 16px;
}
@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: var(--desktopWidth);
		margin: 0 auto;
	}
	.container-x {
		margin: 0 auto;
		max-width: var(--desktopWidth);
	}
	.container-t {
		margin: 0 auto;
		max-width: var(--desktopWidth);
	}
	.container-empty {
		margin: 0 auto;
		max-width: var(--desktopWidth);
	}
}
