.landingPage {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 16px;
	padding: 120px 0px 0 0px;
	.title {
		font-size: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: "Bona Nova", serif;
	}
	.subtitle {
		font-size: 18px;
		font-weight: 200;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
}
